body {
  margin: 0;
  font-family: 'Hellix';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Hellix';
  src: local('Hellix'),
    url('./fonts/Hellix/Hellix-Regular.ttf') format('truetype');
}
